/* ==========================================================================
   TLT's custom styles
   ========================================================================== */

.header{
    text-align: center;
}

.actions {
  display: none;
}

.icon-row {
  letter-spacing: -4px;
  font-size: 0;
}

.icon-row img{
    cursor: pointer;
    display: none;
}

/* Temp styles just to see canvas area */
.canvas-wrap {
  border: 1px solid #aaa;
  display: inline-block;
  position: relative;
}

/* Upload form styles */
.upload {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.upload__trigger {
  cursor: pointer;
  display: block;
  height: 100%;
  margin-bottom: 0;
}

.upload__inner {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.upload__text {
  display: block;
  margin-top: 5px;
  text-transform: uppercase;
}

.upload__input {
  visibility: hidden;
}
